version: '3'

services:
  reverse:
    container_name: 2co-reverse-proxy-dev
    hostname: reverse
    image: nginx
    ports:
      - 8443:443
      - 9500:9500
      - 9501:9501
      - 9502:9502
      - 9503:9503
      - 9504:9504
      - 9505:9505
    volumes:
      - ./config/:/etc/nginx/
